<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Groups</title>
<link rel="stylesheet" href="globals.css">
</head>

<body>
<div class="phone">

<div class="header">Groups</div>

<div class="content scroll">

<button onclick="location.href='/join_group'">
Join Group
</button>

<div class="search-container">
  <input type="text" placeholder="Search groups..." class="search-input">
</div>

<!--Groups from backend-->
{% for group in groups %}

<div class="group-card">

<h3>{{ group.name }}</h3>

<p>{{ group.member_count }} Members</p>

<button
  class="group-btn"
  onclick="window.location.href='/groups/{{ group._id }}'">
  View
</button>

</div>

  {% endfor %}

  {% if groups|length == 0 %}
  <p>You are not in any groups.</p>
  {% endif %}

</div>

<!-- Nav Bar -->
<div class="navbar">
<button class="nav-btn" onclick="location.href='/'">Home</button>
<button class="nav-btn" onclick="location.href='/review/new'">Post</button>
<button class="nav-btn" onclick="location.href='/profile'">Profile</button>
<button class="nav-btn" onclick="location.href='/groups'">Groups</button>
</div>

</div>
</body>
</html>