<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Group</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}" />
  </head>

  <body>
    <div class="phone">
      <div class="header">Join Group</div>

      <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash">
              {% for msg in messages %}
                <p>{{ msg }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        
        <div class="form-container">
          <form method="POST" action="/join_group">

            <label for="invite-code" class="form-label">Enter Invite Code</label>
          
            <p class="form-text">
              Ask your group admin for the code to join their restaurant review group
            </p>

            <input
              name="group_id"
              type="text"
              id="invite-code"
              class="form-input"
              placeholder="Enter 6-character code"
              maxlength="6"
            />

            <p class="form-subtext">
              Codes are 6 characters and case-insensitive.<br>
              Example: NYU123
            </p>

            <button class="primary-btn" type = "submit">Join Group</button>
            <a class="secondary-btn" href="/create_group">Create a new group instead</a>
          </form>
        </div>
      </div>

      <!-- Nav Bar -->
      div class="navbar">
        <button class="nav-btn" onclick="location.href='/'">Home</button>
        <button class="nav-btn" onclick="location.href='/review/new'">Post</button>
        <button class="nav-btn" onclick="location.href='/profile'">Profile</button>
        <button class="nav-btn" onclick="location.href='/groups'">Groups</button>
      </div>
    </div>
  </body>
</html>