<!--don't kow how to use templates yet. Can Figure
    out later or not implement at all. -->

<!doctype html>
<html lang="en">
  <!-- Boilerplate -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="globals.css" />
  </head>

  <body>
      <div class="navbar">
        <button class="nav-btn">Home</button>
        <button class="nav-btn">Post</button>
        <button class="nav-btn">Profile</button>
        <button class="nav-btn">Groups</button>
      </div>
    </div>
  </body>
</html>
